@import "tailwindcss";

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

body {
    margin: 0;
    --color-text: #644B47;
    --color-bg: #0F0E0E;
    --color-link: #fff;
    --color-link-hover: #3d3637;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: soleil, sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Cursor styles */
	--cursor-stroke: #644B47;
	--cursor-fill: none;
	--cursor-stroke-width: 1px;
}
